In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv("Loan_Default.csv")

In [4]:
print("first 5 rows of the dataset:")
df.head()

first 5 rows of the dataset:

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [5]:
df.tail()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
148665,173555,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,CIB,659,EXP,55-64,to_inst,71.792763,south,direct,0,48.0
148666,173556,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,CIB,569,CIB,25-34,not_inst,74.428934,south,direct,0,15.0
148667,173557,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,CIB,702,EXP,45-54,not_inst,61.332418,North,direct,0,49.0
148668,173558,2019,cf,Female,nopre,type1,p4,l1,nopc,nob/c,...,EXP,737,EXP,55-64,to_inst,70.683453,North,direct,0,29.0
148669,173559,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,...,CIB,830,CIB,45-54,not_inst,72.849462,North,direct,0,44.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   year                       148670 non-null  int64
 2   loan_limit                 145326 non-null  object
 3   Gender                     148670 non-null  object
 4   approv_in_adv              147762 non-null  object
 5   loan_type                  148670 non-null  object
 6   loan_purpose               148536 non-null  object
 7   Credit_Worthiness          148670 non-null  object
 8   open_credit                148670 non-null  object
 9   business_or_commercial     148670 non-null  object
 10  loan_amount                148670 non-null  int64
 11  rate_of_interest           112231 non-null  float64
 12  Interest_rate_spread       112031 non-null  float64
 13  Upfront_charges            109028 non-null  float64
 14  term                       148629 non-null  float64
 15  Neg_ammortization          148549 non-null  object
 16  interest_only              148670 non-null  object
 17  lump_sum_payment           148670 non-null  object
 18  property_value             133572 non-null  float64
 19  construction_type          148670 non-null  object
 20  occupancy_type             148670 non-null  object
 21  Secured_by                 148670 non-null  object
 22  total_units                148670 non-null  object
 23  income                     139520 non-null  float64
 24  credit_type                148670 non-null  object
 25  Credit_Score               148670 non-null  int64
 26  co-applicant_credit_type   148670 non-null  object
 27  age                        148470 non-null  object
 28  submission_of_application  148470 non-null  object
 29  LTV                        133572 non-null  float64
 30  Region                     148670 non-null  object
 31  Security_Type              148670 non-null  object
 32  Status                     148670 non-null  int64
 33  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 38.6+ MB

In [7]:
df.describe()

,ID,year,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,Status,dtir1
count,148670.000000,148670.0,1.486700e+05,112231.000000,112031.000000,109028.000000,148629.000000,1.335720e+05,139520.000000,148670.000000,133572.000000,148670.000000,124549.000000
mean,99224.500000,2019.0,3.311177e+05,4.045476,0.441656,3224.996127,335.136582,4.978935e+05,6957.338876,699.789103,72.746457,0.246445,37.732932
std,42917.476598,0.0,1.839093e+05,0.561391,0.513043,3251.121510,58.409084,3.599353e+05,6496.586382,115.875857,39.967603,0.430942,10.545435
min,24890.000000,2019.0,1.650000e+04,0.000000,-3.638000,0.000000,96.000000,8.000000e+03,0.000000,500.000000,0.967478,0.000000,5.000000
25%,62057.250000,2019.0,1.965000e+05,3.625000,0.076000,581.490000,360.000000,2.680000e+05,3720.000000,599.000000,60.474860,0.000000,31.000000
50%,99224.500000,2019.0,2.965000e+05,3.990000,0.390400,2596.450000,360.000000,4.180000e+05,5760.000000,699.000000,75.135870,0.000000,39.000000
75%,136391.750000,2019.0,4.365000e+05,4.375000,0.775400,4812.500000,360.000000,6.280000e+05,8520.000000,800.000000,86.184211,0.000000,45.000000
max,173559.000000,2019.0,3.576500e+06,8.000000,3.357000,60000.000000,360.000000,1.650800e+07,578580.000000,900.000000,7831.250000,1.000000,61.000000

In [8]:
df.dtypes

ID                             int64
year                           int64
loan_limit                    object
Gender                        object
approv_in_adv                 object
loan_type                     object
loan_purpose                  object
Credit_Worthiness             object
open_credit                   object
business_or_commercial        object
loan_amount                    int64
rate_of_interest             float64
Interest_rate_spread         float64
Upfront_charges              float64
term                         float64
Neg_ammortization             object
interest_only                 object
lump_sum_payment              object
property_value               float64
construction_type             object
occupancy_type                object
Secured_by                    object
total_units                   object
income                       float64
credit_type                   object
Credit_Score                   int64
co-applicant_credit_type      object
age                           object
submission_of_application     object
LTV                          float64
Region                        object
Security_Type                 object
Status                         int64
dtir1                        float64
dtype: object

In [9]:
df.columns

Index(['ID', 'year', 'loan_limit', 'Gender', 'approv_in_adv', 'loan_type',
       'loan_purpose', 'Credit_Worthiness', 'open_credit',
       'business_or_commercial', 'loan_amount', 'rate_of_interest',
       'Interest_rate_spread', 'Upfront_charges', 'term', 'Neg_ammortization',
       'interest_only', 'lump_sum_payment', 'property_value',
       'construction_type', 'occupancy_type', 'Secured_by', 'total_units',
       'income', 'credit_type', 'Credit_Score', 'co-applicant_credit_type',
       'age', 'submission_of_application', 'LTV', 'Region', 'Security_Type',
       'Status', 'dtir1'],
      dtype='object')

In [10]:
df.shape

(148670, 34)

In [11]:
df.sample(7)

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
142307,167197,2019,ncf,Joint,nopre,type1,p3,l1,nopc,nob/c,...,EXP,628,EXP,>74,to_inst,65.213816,North,direct,0,43.0
35605,60495,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,...,CRIF,892,CIB,45-54,to_inst,76.376147,North,direct,1,48.0
108582,133472,2019,cf,Sex Not Available,nopre,type1,p4,l1,nopc,nob/c,...,CIB,830,CIB,35-44,to_inst,79.454023,south,direct,0,37.0
21504,46394,2019,cf,Sex Not Available,nopre,type2,p4,l1,nopc,b/c,...,CRIF,782,EXP,35-44,to_inst,99.556213,south,direct,1,34.0
88983,113873,2019,cf,Male,nopre,type1,p3,l1,nopc,nob/c,...,CIB,895,CIB,65-74,to_inst,55.879346,North,direct,0,41.0
120730,145620,2019,cf,Female,nopre,type2,p4,l1,nopc,b/c,...,CIB,785,EXP,35-44,not_inst,97.862454,central,direct,0,37.0
104624,129514,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,CIB,637,CIB,45-54,not_inst,69.265233,North,direct,0,35.0

In [12]:
df.isnull().sum()

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [16]:
df['Status'].value_counts()

Status
0    112031
1     36639
Name: count, dtype: int64

In [17]:
df.index

RangeIndex(start=0, stop=148670, step=1)

In [20]:
df.groupby('loan_amount').mean(20)

,ID,year,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,Status,dtir1
loan_amount,,,,,,,,,,,,
16500,157137.000000,2019.0,NaN,NaN,NaN,300.000000,5.300000e+04,2260.000000,767.000000,55.208333,1.000000,44.000000
26500,96228.037037,2019.0,4.810000,1.518167,635.230909,348.888889,8.147826e+04,1980.000000,713.148148,49.773246,0.555556,32.391304
36500,103613.058824,2019.0,4.421983,1.430911,995.932456,334.386555,1.010612e+05,1946.896552,710.554622,56.097187,0.537815,33.273684
46500,100420.900943,2019.0,4.435841,1.369648,1315.853810,324.551887,1.008723e+05,2162.341463,698.240566,65.979413,0.481132,34.851648
56500,103231.856790,2019.0,4.619652,1.230073,1697.012931,324.725926,2.068937e+05,3038.426966,700.366667,53.456787,0.424691,34.978166
...,...,...,...,...,...,...,...,...,...,...,...,...
2926500,67090.000000,2019.0,NaN,NaN,NaN,360.000000,4.878000e+06,64020.000000,663.000000,59.993850,1.000000,17.000000
2986500,139223.000000,2019.0,3.990000,-0.273300,12328.840000,360.000000,5.508000e+06,61500.000000,791.000000,54.221133,0.000000,21.000000
3006500,91472.250000,2019.0,3.557500,0.088850,30000.000000,360.000000,4.841333e+06,68475.000000,675.750000,65.032650,0.500000,39.000000
3346500,123036.000000,2019.0,NaN,NaN,NaN,360.000000,NaN,33840.000000,538.000000,NaN,1.000000,NaN
3576500,29211.000000,2019.0,NaN,NaN,NaN,360.000000,5.208000e+06,119340.000000,751.000000,68.673195,1.000000,25.000000

In [22]:
df.groupby('age').count()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,income,credit_type,Credit_Score,co-applicant_credit_type,submission_of_application,LTV,Region,Security_Type,Status,dtir1
age,,,,,,,,,,,,,,,,,,,,,
25-34,19142,19142,18658,19142,19043,19142,19100,19142,19142,19142,...,17869,19142,19142,19142,19142,17232,19142,19142,19142,15985
35-44,32818,32818,32062,32818,32624,32818,32788,32818,32818,32818,...,30729,32818,32818,32818,32818,29612,32818,32818,32818,27566
45-54,34720,34720,33957,34720,34496,34720,34699,34720,34720,34720,...,32673,34720,34720,34720,34720,31399,34720,34720,34720,29378
55-64,32534,32534,31796,32534,32331,32534,32516,32534,32534,32534,...,30921,32534,32534,32534,32534,29304,32534,32534,32534,27710
65-74,20744,20744,20319,20744,20614,20744,20733,20744,20744,20744,...,19399,20744,20744,20744,20744,18397,20744,20744,20744,17062
<25,1337,1337,1306,1337,1328,1337,1335,1337,1337,1337,...,1277,1337,1337,1337,1337,1188,1337,1337,1337,1128
>74,7175,7175,7040,7175,7126,7175,7173,7175,7175,7175,...,6652,7175,7175,7175,7175,6240,7175,7175,7175,5720

In [23]:
df['Credit_Score'].rank()

0          95842.0
1          19443.0
2         123973.5
3          32561.5
4          38105.0
            ...
148665     59405.0
148666     25828.5
148667     75363.0
148668     88156.5
148669    122508.0
Name: Credit_Score, Length: 148670, dtype: float64

In [24]:
df.dropna()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0
5,24895,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,EXP,864,EXP,35-44,not_inst,70.089286,North,direct,0,40.0
6,24896,2019,cf,Joint,pre,type1,p3,l1,nopc,nob/c,...,EXP,860,EXP,55-64,to_inst,79.109589,North,direct,0,44.0
8,24898,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,...,CIB,580,EXP,55-64,to_inst,78.765690,central,direct,0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,173555,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,CIB,659,EXP,55-64,to_inst,71.792763,south,direct,0,48.0
148666,173556,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,CIB,569,CIB,25-34,not_inst,74.428934,south,direct,0,15.0
148667,173557,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,CIB,702,EXP,45-54,not_inst,61.332418,North,direct,0,49.0
148668,173558,2019,cf,Female,nopre,type1,p4,l1,nopc,nob/c,...,EXP,737,EXP,55-64,to_inst,70.683453,North,direct,0,29.0
148669,173559,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,...,CIB,830,CIB,45-54,not_inst,72.849462,North,direct,0,44.0